cacatUA/WebCacatUA/Web References/servicioUploader/Uploader.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="subirArchivo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="datos" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="nombreFichero" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="subirArchivoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="subirArchivoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ComprimirArchivo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ficheroComprimir" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombreFichero" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ComprimirArchivoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ComprimirArchivoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BorrarFichero">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombreFichero" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BorrarFicheroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BorrarFicheroResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="existeFichero">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombreFichero" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="existeFicheroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="existeFicheroResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="subirArchivoSoapIn">
    <wsdl:part name="parameters" element="tns:subirArchivo" />
  </wsdl:message>
  <wsdl:message name="subirArchivoSoapOut">
    <wsdl:part name="parameters" element="tns:subirArchivoResponse" />
  </wsdl:message>
  <wsdl:message name="ComprimirArchivoSoapIn">
    <wsdl:part name="parameters" element="tns:ComprimirArchivo" />
  </wsdl:message>
  <wsdl:message name="ComprimirArchivoSoapOut">
    <wsdl:part name="parameters" element="tns:ComprimirArchivoResponse" />
  </wsdl:message>
  <wsdl:message name="BorrarFicheroSoapIn">
    <wsdl:part name="parameters" element="tns:BorrarFichero" />
  </wsdl:message>
  <wsdl:message name="BorrarFicheroSoapOut">
    <wsdl:part name="parameters" element="tns:BorrarFicheroResponse" />
  </wsdl:message>
  <wsdl:message name="existeFicheroSoapIn">
    <wsdl:part name="parameters" element="tns:existeFichero" />
  </wsdl:message>
  <wsdl:message name="existeFicheroSoapOut">
    <wsdl:part name="parameters" element="tns:existeFicheroResponse" />
  </wsdl:message>
  <wsdl:portType name="UploaderSoap">
    <wsdl:operation name="subirArchivo">
      <wsdl:input message="tns:subirArchivoSoapIn" />
      <wsdl:output message="tns:subirArchivoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ComprimirArchivo">
      <wsdl:input message="tns:ComprimirArchivoSoapIn" />
      <wsdl:output message="tns:ComprimirArchivoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BorrarFichero">
      <wsdl:input message="tns:BorrarFicheroSoapIn" />
      <wsdl:output message="tns:BorrarFicheroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="existeFichero">
      <wsdl:input message="tns:existeFicheroSoapIn" />
      <wsdl:output message="tns:existeFicheroSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UploaderSoap" type="tns:UploaderSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="subirArchivo">
      <soap:operation soapAction="http://tempuri.org/subirArchivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComprimirArchivo">
      <soap:operation soapAction="http://tempuri.org/ComprimirArchivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BorrarFichero">
      <soap:operation soapAction="http://tempuri.org/BorrarFichero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="existeFichero">
      <soap:operation soapAction="http://tempuri.org/existeFichero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UploaderSoap12" type="tns:UploaderSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="subirArchivo">
      <soap12:operation soapAction="http://tempuri.org/subirArchivo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComprimirArchivo">
      <soap12:operation soapAction="http://tempuri.org/ComprimirArchivo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BorrarFichero">
      <soap12:operation soapAction="http://tempuri.org/BorrarFichero" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="existeFichero">
      <soap12:operation soapAction="http://tempuri.org/existeFichero" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Uploader">
    <wsdl:port name="UploaderSoap" binding="tns:UploaderSoap">
      <soap:address location="http://localhost:2592/Uploader.asmx" />
    </wsdl:port>
    <wsdl:port name="UploaderSoap12" binding="tns:UploaderSoap12">
      <soap12:address location="http://localhost:2592/Uploader.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>